header {
  background-image: linear-gradient(
    to bottom right,
    rgba(78, 78, 214, 0.51),
    blue
  );
  height: 3rem;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

body {
  background-image: url("./Naturebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.cities {
  /* background-color: pink; */
  width: 20rem;
  height: 45rem;
  margin-top: -32rem;
  margin-left: 2rem;
  cursor: pointer;
  flex-wrap: wrap;
  color: white;
}

.infobox {
  /* background-image: url("./Naturebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  /* border-style: solid;
  border-color: black; */
  /* background-color: orange; */
  width: 40rem;
  height: 30rem;
  margin-top: 2rem;
  margin-left: 25rem;
}

#cityname {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

#iconbox {
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#tempbox {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-left: 3rem;
}

textarea {
  width: fit-content;
  height: fit-content;
}

#Daily {
  display: flex;
  flex-direction: column;
  background-color: blue;
  width: 12rem;
  height: 19rem;
  padding: 0;
  margin-left: 55rem;
  margin-top: -45rem;
  border: dashed black;
}

#Daily2 {
  background-color: orange;
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 19rem;
  border: dashed black;
  margin-left: 68rem;
  margin-top: -19.4rem;
}
#Daily3 {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 19rem;
  border: dashed black;
  margin-left: 81rem;
  margin-top: -19.4rem;
}
#Daily4 {
  background-color: green;
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 19rem;
  border: dashed black;
  margin-left: 61rem;
  margin-top: 2rem;
}
#Daily5 {
  background-color: grey;
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 19rem;
  border: dashed black;
  margin-left: 75rem;
  margin-top: -19.4rem;
}
.forecast {
  background-color: purple;
  height: 8rem;
  width: 10rem;
  text-align: center;
  font-size: 40px;
  margin-top: 1rem;
  word-wrap: break-word;
  margin-left: 1rem;
}

.datefore {
  background-color: orange;
  width: 10rem;
  font-size: 20px;
  height: 5rem;
  text-align: center;
  margin-left: 1rem;
}

.tempforecast {
  background-color: white;
  width: 10rem;
  font-size: 20px;
  height: 2rem;
  text-align: center;
  margin-left: 1rem;
}

.humforecast {
  background-color: pink;
  width: 10rem;
  font-size: 20px;
  height: 2rem;
  text-align: center;
  margin-left: 1rem;
}

#citynames {
  width: 10rem;
  font-size: 20px;
  margin-bottom: 12px;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 12px 20px 12px 40px;
  background-color: red;
  color: white;
}

.list-group-item {
  background-color: white;
  color: black;
  width: 15rem;
  height: 2rem;
  border-radius: 1rem;
  list-style-type: none;
  text-align: center;
  border: 2px solid #ddd;
  font-size: 20px;
  padding-top: 1rem;
  margin-top: 0.5rem;
}

.list-group-item li:hover() {
  background-color: #eee;
}

h3 {
  font-size: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

.infodetail {
  color: white;
  width: fit-content;
  height: fit-content;
  border: none;
  font-size: 20px;
}
.infodetails {
  color: white;
  width: fit-content;
  height: fit-content;
  border: none;
  font-size: 30px;
  font-weight: bold;
}

#iconbox {
  background-color: yellow;
  height: 5rem;
  width: 5rem;
  color: black;
}
/* .today {
  width: 15rem;
  height: 15rem;
  background-color: pink;
  margin-left: 1rem;
}
.tmrw {
  width: 15rem;
  height: 15rem;
  background-color: pink;
  margin-left: 17rem;
  margin-bottom: -10rem;
  margin-top: -15rem;
}
.day3 {
  width: 15rem;
  height: 15rem;
  background-color: red;
  margin-left: 33rem;
  margin-bottom: -10rem;
  margin-top: -5rem;
}
.day4 {
  width: 15rem;
  height: 15rem;
  background-color: purple;
  margin-left: 49rem;
  margin-bottom: -10rem;
  margin-top: -5rem;
} */
