header {
  background-image: linear-gradient(
    to bottom right,
    rgba(78, 78, 214, 0.51),
    blue
  );
  height: 3rem;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.cities {
  background-color: pink;
  width: 20rem;
  height: fit-content;
  margin-top: 1rem;
  margin-left: 2rem;
}

#box {
  margin-left: 2rem;
}
.infobox {
  margin-top: 1rem;
  border-style: solid;
  border-color: black;
  width: 65rem;
  float: right;
  height: 25rem;
}

#datepicker {
  margin-top: 2rem;
  margin-left: 15rem;
}

p {
  margin-left: 3rem;
}

textarea {
  width: fit-content;
  height: fit-content;
}

.pull {
  border-style: solid;
  border-color: black;
  width: fit-content;
}
.container {
  background-color: blue;
  height: 17rem;
  margin-left: 29rem;
}

.Daily {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 13rem;
  margin-left: 28rem;
  background-color: blue;
  width: fit-content;
  height: fit-content;
}

#citynames {
  background-image: url("/css/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 10rem;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#cityUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: fit-content;
  background-color: purple;
}

#cityUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  background-color: orange;
}

#cityUL li a:hover:not(.header) {
  background-color: #eee;
}

.today {
  width: 15rem;
  height: 15rem;
  background-color: pink;
  margin-left: 1rem;
}
.tmrw {
  width: 15rem;
  height: 15rem;
  background-color: pink;
  margin-left: 17rem;
  margin-bottom: -10rem;
  margin-top: -15rem;
}
.day3 {
  width: 15rem;
  height: 15rem;
  background-color: red;
  margin-left: 33rem;
  margin-bottom: -10rem;
  margin-top: -5rem;
}
.day4 {
  width: 15rem;
  height: 15rem;
  background-color: purple;
  margin-left: 49rem;
  margin-bottom: -10rem;
  margin-top: -5rem;
}
